* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*背景色*/
body{
    background-color: #f6f5f5;
    margin: 0;
}


/* -------------*/
/* ヘッダー */
/* -------------*/
h1{
    color: #3A2C3D;
    font-size: 26px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 14px;
}

h3{
    color: #3A2C3D;
    margin-left: 15px;
}

#header-inner {
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #ccc;
}

header {
    max-width: 1080px;
    height: 90px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 左側 */
.header-left p {
  font-size: 16px;
  margin-left: 20px;
  margin-top: 0px;
  color: #aaa;
}

/* 右側 */
.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-logout {
    font-size: 14px;
    padding: 8px 14px;
    color:dimgrey;
    background-color: white;
    border:white solid 1px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-logout:hover {
    color: white;
    background-color: #BA1A1A;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
}
