.home-container {
    padding: 20px;
}

/* 横並びにする */
.home-container {
    display: flex;
    gap: 20px;
}

/* 左：クイックアクセス */
.quick-access {
    flex: 2; /* 広めに */
}

/* 右：アクティビティ */
.activity-feed {
    flex: 1; /* 少し狭く */
}

/* 共通のスタイル */
.quick-access,
.activity-feed {
    background: white;
    padding: 10px;
}

.quick-access-list,
.activity-list{
    background: white;
    padding: 20px;
    list-style: none;
}


/* -------------------------------------- */
/* クイックアクセスの配置 */
/* -------------------------------------- */
.quick-access-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* クイックアクセスのカード */
.quick-card {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 20px;
    border-radius: 12px;
    border: 1px solid #1e293b;

    text-decoration: none;
    transition: 0.2s;
}

.quick-card:hover {
    transform: translateY(-3px);
    border-color: #10b981;
}

/* アイコンとテキストのスタイル */
.icon {
    font-size: 24px;
    padding: 12px;
    border-radius: 10px;
}

.text h4 {
    margin: 0;
    font-size: 18px;
}

.text p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #9ca3af;
}

/* 矢印アイコン */
.arrow {
    margin-left: auto;
    font-size: 30px;
    color: #9ca3af;
}


/* -------------------------------------- */
/* アクティビティフィードのアイテム */
/* -------------------------------------- */
.activity-feed {
    padding: 10px;
    border-radius: 12px;
    background-color: white;
}

.activity-list{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 0;
}

/* 各アイテム */
.activity-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 12px 0;
}

/* 左側 */
.activity-text {
    max-width: 70%;
}

.activity-title {
    margin: 0;
    font-weight: bold;
}

.activity-desc {
    margin: 4px 0 0;
    font-size: 12px;
    color: #9ca3af;
}

/* 右側（時間） */
.activity-time {
    font-size: 12px;
    color: #9ca3af;
}